/* element selector */
h1 {
    color: purple;
    margin-left: 100px;}


/* id selector */
#myid{
border-style: dotted solid double;
}

/* class selector */
.myclass{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}
